/*fonctionnement*/
#fonctionnement {
  display: flex;
  align-items: center;
}
#fonctionnement i {
  color: #7e7e7e;
}
#fonctionnement .titreFonction {
  margin-top: 58px;
}
#fonctionnement ol {
  display: flex;
  margin-top: 37px;
  flex-wrap: wrap;
}

.espaceFonction {
  margin-right: 100px;
  margin-top: 18px;
  border-radius: 50px;
  box-shadow: 0 2px 10px gray;
  width: 220px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.espaceFonction:hover {
  background: #e4d5f6;
}

.positionFonction {
  display: flex;
  justify-content: center;
  padding-top: 13px;
}
.positionFonction i {
  padding-right: 14px;
}

span {
  font-weight: bolder;
}

@media (max-width: 600px) {
  /*fonctionnement*/
  #fonctionnement {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .titreFonction {
    margin: 53px 0 0 21px;
  }

  nav ol {
    margin-top: 20px;
  }

  .espaceFonction {
    width: 100%;
    height: 65px;
    border-radius: 22px;
  }

  .positionFonction {
    display: flex;
    justify-content: flex-start;
    margin-left: 24px;
    margin-top: 11px;
  }
}

@media (max-width: 491px) {
  /*fonctionnement*/
  .espaceFonction {
    width: 311px;
    margin-right: 0;
  }
}
