/*restaurants*/
.cartesRestaurants {
  background-color: #f6f6f6;
  padding-left: 30px;
  width: 98%;
}

.cartesBody {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
  cursor: pointer;
  box-sizing: border-box;
  width: 48%;
  height: 448px;
  margin-bottom: 19px;
  transform: scale(1);
  transition: 400ms;

  &:hover {
    transform: scale(1.05);
  }
}
.titreRestaurants {
  padding-top: 59px;
}

.restaurantsListe {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 98%;
}

.imagesPlats {
  border-radius: 16px 16px 0 0;
  object-fit: cover;
  height: 334px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
}

h3 {
  padding-left: 15px;
}

p {
  padding-left: 15px;
}

.texteImage {
  background-color: #99e2d0;
  width: 17%;
  height: 25px;
  padding-top: 10px;
  position: absolute;
  top: 11%;
  left: 89%;
  transform: translate(-50%, -50%);
  border-radius: 9px;
}

.contenant {
  position: relative;
  text-align: center;
}

@media (max-width: 900px) and (min-width: 600px) {
  body {
    width: 100%;
  }
  /*restaurants*/
  .cartesRestaurants {
    width: 95%;
  }

  .cartesBody {
    transition: none;
  }

  .cartes2 {
    margin-right: 15px;
  }

  .cartesBody:hover {
    transform: none;
  }

  .texteImage {
    top: 11%;
    left: 82%;
    width: 35%;
  }

  .iconeCoeur {
    left: 92%;
  }
}
