/*footer*/
.footerTitre {
  font-size: 30px;
  font-family: "Shrikhand", cursive;
  color: white;
  margin-left: 30px;
}

.footerListe {
  margin-bottom: 15px;
}

footer {
  padding-top: 16px;
  padding-bottom: 5px;
  background-color: #353535;
  display: flex;
  flex-direction: column;

  ul {
    list-style-type: none;
    margin-left: 60px;
  }

  li {
    color: white;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
  }

  a {
    color: white;
  }
}

@media (max-width: 900px) and (min-width: 600px) {
  /*footer*/
  footer {
    width: 100%;
  }
}

@media (max-width: 600px) {
  /*footer*/
  .footerTitre {
    padding: 0;
    margin-left: 25px;
  }

  footer ul {
    padding: 0;
    margin-left: 25px;
  }
}

@media (max-width: 491px) {
  /*footer*/
  footer {
    width: 101%;
  }
}
