@media (max-width: 767px) {
  h1 {
    width: 88%;
    font-size: 30px;
  }
  section {
    border-radius: 45px 45px 0 0;
    padding-bottom: 56px;

    i {
      bottom: 36px;
      left: 84%;
    }
  }

  .titreMenu {
    width: 9%;
  }

  article {
    padding-left: 10px;
    width: 85%;
    margin-left: 25px;
    height: 90px;
  }

  h3 {
    font-size: 16px;
    margin-top: 0;
    width: 247px;
  }

  p {
    margin-top: 7px;
    margin-bottom: 5px;
  }
  .meals {
    .description {
      height: 83px;
      p {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 195px;
        white-space: nowrap;
        font-size: 15px;
        margin-top: 21px;
      }
    }
  }
  .meals:hover .fa-check-circle {
    left: 11px;
    top: 35px;
    font-size: 28px;
  }
  .fa-check-circle:hover {
    left: 24px;
  }

  .cross {
    height: 100px;
    width: 77px;
    margin-right: -5px;
  }
  .bouton {
    width: 56%;
  }
}
