@media (max-width: 900px) and (min-width: 600px) {
  body {
    width: 100%;
  }
  /*restaurants*/
  .cartesRestaurants {
    width: 95%;
  }

  .cartesBody {
    transition: none;
  }

  .cartes2 {
    margin-right: 15px;
  }

  .cartesBody:hover {
    transform: none;
  }

  .texteImage {
    top: 11%;
    left: 82%;
    width: 35%;
  }

  .iconeCoeur {
    left: 92%;
  }
  /*footer*/
  footer {
    width: 101%;
  }
}
