@keyframes heart {
  0% {
    filter: brightness(0);
  }

  100% {
    filter: brightness(1);
  }
}

/*coeur*/
.fill {
  color: black;
  cursor: pointer;
  bottom: 41px;

  &:hover {
    opacity: 1;
    animation: heart 550ms ease-in-out;
    background: linear-gradient(to left, #9356dc, #ff79da);
    background: -webkit-linear-gradient(to left, #9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
}

@media (max-width: 750px) {
  .fill:active {
    opacity: 1;
    animation: heart 550ms ease-in-out;
    background: linear-gradient(to left, #9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation-fill-mode: forwards;
  }
}
