/*bouton*/
.boutonForme {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.bouton {
  background-image: linear-gradient(#ff79da, #9356dc);
  font-family: "Roboto", sans-serif;
  color: white;
  border-radius: 50px;
  border: none;
  box-shadow: 0 5px 10px gray;
  width: 369px;
  height: 80px;
  cursor: pointer;
  font-size: 15px;

  :hover {
    opacity: 85%;
    box-shadow: 0 10px 5px gray;
  }
}
