@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/*texte font-family: 'Roboto', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*font-family: 'Shrikhand', cursive;*/
body {
  width: 100%;
  height: 2475px;
  margin: 0;
}

/*header*/
.logo {
  width: 260px;
}

.logo-position {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

header i {
  font-size: 40px;
  color: black;
  position: absolute;
  top: 6%;
  margin-left: 15px;
}

/*img*/
.imagePlat {
  box-shadow: 6px -5px 10px gray;
  object-fit: cover;
  height: 545px;
  width: 100%;
}

/*section menu*/
section {
  position: relative;
  bottom: 103px;
  background-color: #f6f6f6;
  padding-top: 20px;
  border-radius: 113px 113px 0 0;
  padding-bottom: 50px;
}
section i {
  position: relative;
  bottom: 44px;
  left: 81%;
  font-size: 35px;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin: 0;
  margin-top: 30px;
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.titreMenu {
  font-family: "Roboto", sans-serif;
  border-bottom: solid #99e2d0;
  font-size: 20px;
  margin-left: 11%;
  margin-top: 57px;
  padding-bottom: 10px;
  width: 3%;
  margin-bottom: 27px;
}

article {
  border-radius: 20px;
  border: solid rgba(153, 226, 208, 0) 5px;
  box-shadow: 3px -5px 10px gray, -7px 8px 10px gray;
  width: 73%;
  height: 94px;
  margin-left: 11%;
  padding-left: 50px;
  margin-bottom: 26px;
  background-color: #ffffff;
  cursor: pointer;
}
article p {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
}

.price {
  margin-bottom: 16px;
  width: 44px;
}
.meals {
  position: relative;
  cursor: pointer;
  transition: 450ms ease-in-out;
}
.meals article {
  display: flex;

  align-items: flex-end;
}

.description {
  width: 90%;
}

.meals article > span,
.meals article div {
  display: block;
}

.meals article:last-child {
  align-items: flex-end;
}
.meals:hover .cross {
  opacity: 1;
  transform: translate(0px);
}
.meals:hover .fa-check-circle {
  transform: rotate(360deg);
  position: absolute;
  bottom: 36px;
  left: 32px;
}

.cross {
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 104px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  top: 0;
  opacity: 0;
  margin-bottom: -5px;
  margin-right: -14px;
  box-shadow: 3px -5px 10px gray, 5px 3px 10px gray;
}
.cross .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
  top: 31px;
}

/*coeur*/
.fill {
  color: black;
  cursor: pointer;
}
.fill:hover {
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(
    to left,
    #9356dc,
    #b35cdc,
    #cf64dc,
    #e86edb,
    #ff79da
  );
  background: -webkit-linear-gradient(
    to left,
    #9356dc,
    #b35cdc,
    #cf64dc,
    #e86edb,
    #ff79da
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/*bouton*/
.boutonForme {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.bouton {
  background-image: linear-gradient(#ff79da, #9356dc);
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: white;
  border-radius: 50px;
  border: none;
  box-shadow: 0 5px 10px gray;
  width: 27%;
  height: 80px;
  cursor: pointer;
}
.bouton:hover {
  opacity: 85%;
  box-shadow: 0 10px 5px gray;
}

/*footer*/
footer {
  background-color: #353535;
  margin-top: -129px;
  height: 198px;
}
footer h3 {
  padding-top: 30px;
  padding-left: 26px;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  color: white;
}
footer ul {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  color: white;
  padding-left: 26px;
  cursor: pointer;
}
footer a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
@media (max-width: 767px) {
  h1 {
    width: 88%;
  }

  section i {
    bottom: 36px;
    left: 84%;
  }

  .titreMenu {
    width: 9%;
  }

  article {
    padding-left: 28px;
    width: 75%;
    margin-left: 9%;
    height: 85px;
  }

  h3 {
    font-size: 16px;
    margin-top: 0;
  }
  p {
    margin-top: 7px;
    margin-bottom: 5px;
  }
  .description {
    height: 83px;
  }

  .meals:hover .fa-check-circle {
    left: 24px;
  }

  .cross {
    height: 95px;
  }
  .bouton {
    width: 56%;
  }

  footer {
    height: 300px;
  }

  footer h3 {
    padding-top: 60px;
  }
}
